#page-title {
    text-align: center;
  }
  
  #page-title h1 {
    font: 34px "Varela Round", sans-serif;
    color: #282828;
    margin-bottom: 0;
    margin-top: 100px;
  }
  
  mark {
    display: inline-block;
    line-height: 0em;
    padding-bottom: 0.4em;
    background-color: #ffd166;
    color: #282828;
  }
  
  #page-title h2 {
    margin-bottom: 20px;
    margin-top: 0;
    font: bold 18px "Varela Round", serif;
    color: #AFB5BC;
    text-align: center;
  }
  
#topics a {
    font: bold 18px 'Varela Round', sans-serif;
    float: left;
    display: block;
    color: #282828;
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding-bottom: 20px;
  }
  
 #topics a:hover {
    color: #ffd166;
  }
  
  #container {
    margin: auto;
    max-width: 800px;
    box-sizing: border-box;
  }
  
  .chapter {
    vertical-align: top;
    width: 100%;
    display: inline-block;
    padding-left: 100px;
    padding-right: 100px;
    box-sizing: border-box;
  }

  .currently {
    vertical-align: top;
    width: 100%;
    display: inline-block;
    padding-left: 100px;
    padding-right: 100px;
    box-sizing: border-box;
    text-align: center;
    font: bold 18px "Varela Round", serif;
    color: #AFB5BC;
  }

  .currently em { 
    color: #282828;
  }
  
  h1 {
    font: bold 24px "Varela Round", serif;
    color: #282828;
    text-align: center;
    margin-top: 30px;
  }
  
  h2 {
    font: bold 20px "Varela Round", serif;
    color: #AFB5BC;
    text-align: center;
  }
  
  body {
    font: normal 16px 'Varela Round', serif;
    color: #282828;
    line-height: 1.2em;
    line-height: 150%;
  }

  a {
    font: normal 16px 'Varela Round', serif;
    color: #282828;
    line-height: 1.2em;
    line-height: 150%;
    text-decoration:none;
  }
  
  #footer a {
    font: bold 18px 'Varela Round', sans-serif;
    float: left;
    display: block;
    color: #282828;
    text-align: center;
    text-decoration: none;
    width: 50%;
    padding-bottom: 20px;
  }

 #footer a:hover {
    color: #ffd166;
  }

  img {
    width: 100%;
    height: auto;
  }